{% extends 'main/base.html' %}

{% load i18n %}


{% block meta_description %}{{ store.translated_meta_description }}{% endblock meta_description %}
{% block meta_keywords %}{{ store.translated_meta_keywords }}{% endblock meta_keywords %}

{% block title %}{% translate 'Store info' %}{% endblock title %}


{% block stylesheet %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
{% endblock stylesheet %}


{% block content %}

{# Page Title (Light) #}
<div class="bg-secondary py-4">
  <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
    <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
          <li class="breadcrumb-item">
            <a class="text-nowrap" href="{% url 'main:index' %}">
              <i class="czi-home"></i>{% translate 'Home' %}
            </a>
          </li>
          <li class="breadcrumb-item text-nowrap">
            <a href="{% url 'contacts:contacts' %}">{% translate 'Contacts' %}</a>
          </li>
          <li class="breadcrumb-item text-nowrap active" aria-current="page">{% translate 'Store info' %}</li>
        </ol>
      </nav>
    </div>
    <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
      <h1 class="h3 mb-0">{% translate 'Store info' %}</h1>
    </div>
  </div>
</div>

{# Store detail #}
<section class="container-fluid pt-grid-gutter">
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-grid-gutter">
      <a class="card" href="#map" data-scroll>
        <div class="card-body text-center">
          <i class="czi-location h3 mt-2 mb-4 text-primary"></i>
          <h3 class="h6 mb-2">{% translate 'Store address' %}</h3>
          <p class="font-size-sm text-muted">
            {{ store.translated_address }}
          </p>
          <div class="font-size-sm text-primary">
            {% translate 'Click to see map' %}
            <i class="czi-arrow-right align-middle ml-1"></i>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6 mb-grid-gutter">
      <div class="card">
        <div class="card-body text-center">
          <i class="czi-time h3 mt-2 mb-4 text-primary"></i>
          <h3 class="h6 mb-3">{% translate 'Working hours' %}</h3>
          <ul class="list-unstyled font-size-sm text-muted mb-0">
            <li>
              {% translate 'Mon' %} - {% translate 'Fri' %}:
              {{ store.time_weekdays_start|time:"TIME_FORMAT" }} -
              {{ store.time_weekdays_end|time:"TIME_FORMAT" }}
            </li>
            <li class="mb-0">
              {% translate 'Sat' %} - {% translate 'Sun' %}:
              {{ store.time_weekend_start|time:"TIME_FORMAT" }} -
              {{ store.time_weekend_end|time:"TIME_FORMAT" }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-grid-gutter">
      <div class="card">
        <div class="card-body text-center">
          <i class="czi-phone h3 mt-2 mb-4 text-primary"></i>
          <h3 class="h6 mb-3">{% translate 'Phone numbers' %}</h3>
          <ul class="list-unstyled font-size-sm mb-0">
            <li>
              <span class="text-muted mr-1">{% translate 'For customers' %}:</span>
              <a class="nav-link-style" href="tel:{{ store.customers_phone }}">{{ store.customers_phone }}</a>
            </li>
            <li class="mb-0">
              <span class="text-muted mr-1">{% translate 'Tech support' %}:</span>
              <a class="nav-link-style" href="tel:{{ store.support_phone }}">{{ store.support_phone }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-grid-gutter">
      <div class="card">
        <div class="card-body text-center">
          <i class="czi-mail h3 mt-2 mb-4 text-primary"></i>
          <h3 class="h6 mb-3">{% translate 'Email addresses' %}</h3>
          <ul class="list-unstyled font-size-sm mb-0">
            <li>
              <span class="text-muted mr-1">{% translate 'For customers' %}:</span>
              <a class="nav-link-style" href="mailto:{{ store.customers_email }}">{{ store.customers_email }}</a>
            </li>
            <li class="mb-0">
              <span class="text-muted mr-1">{% translate 'Tech support' %}:</span>
              <a class="nav-link-style" href="mailto:{{ store.support_email }}">{{ store.support_email }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{# Carousel #}
<div class="container mb-3">
  <div class="row justify-content-center pt-3 mt-md-2">
    <div class="col-lg-9">
      <div class="cz-carousel cz-dots-enabled">
        <div class="cz-carousel-inner">
          <img src="{{ store.main_image.url }}" alt="{% translate 'Main image' %}">
          {% for store_image in store_images %}
          <img src="{{ store_image.image.url }}" alt="{{ store_image.id }}">
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{# Map #}
<section class="container mt-md-4 mb-5 pb-3">
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

  <div id="map" style="height: 450px;"></div>

  <script>
    const latitude = parseFloat("{{ store.location.y }}".replace(",","."));
    const longitude = parseFloat("{{ store.location.x }}".replace(",","."));

    var map = L.map('map').setView([latitude, longitude], 15);
    var marker = L.marker([latitude, longitude]).addTo(map)
      .bindPopup("{{ store.translated_address }}")
      .openPopup();

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
  </script>
</section>

{% endblock content %}
