{% load i18n %}
{% load main_extras %}

<div class="col-lg-4 col-6 px-0 px-sm-2 mb-sm-4">
  <div class="card product-card card-static">
    {% if product.old_price %}
    <span class="badge badge-danger badge-shadow">{% translate 'Sale' %}</span>
    {% endif %}
    {% if user.is_authenticated %}
    <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="{% translate 'Add to wishlist' %}" data-action="wish-add" data-id="{{ product.id }}">
      <i class="czi-heart"></i>
    </button>
    {% endif %}
    <a class="card-img-top d-block overflow-hidden" href="{{ product.get_absolute_url }}">
      <img src="{{ product.main_image.url }}" alt="{{ product.id }}">
    </a>
    <div class="card-body py-2">
      <a class="product-meta d-block font-size-xs pb-1" href="{{ product.manufacturer.get_absolute_url }}">
        {{ product.manufacturer.name }}
      </a>
      <h3 class="product-title font-size-sm">
        <a href="{{ product.get_absolute_url }}">
          {{ product.translated_name }}
        </a>
      </h3>
      <div class="d-flex justify-content-between">
        <div class="product-price">
          <span class="text-accent">
            {% with product_price=product.price|decimal_fractional_currency:user_currency.0 %}
              {{ user_currency.1 }}{{ product_price.0 }}.<small>{{ product_price.1 }}</small>
            {% endwith %}
          </span>
        </div>
        <div class="star-rating">
          {% if product.rating >= 4.5 %}
          <i class="sr-star czi-star-filled active"></i>
          <i class="sr-star czi-star-filled active"></i>
          <i class="sr-star czi-star-filled active"></i>
          <i class="sr-star czi-star-filled active"></i>
          <i class="sr-star czi-star-filled active"></i>
          {% elif product.rating >= 3.5 %}
          <i class="sr-star czi-star-filled active"></i>
          <i class="sr-star czi-star-filled active"></i>
          <i class="sr-star czi-star-filled active"></i>
          <i class="sr-star czi-star-filled active"></i>
          <i class="sr-star czi-star"></i>
          {% elif product.rating >= 2.5 %}
          <i class="sr-star czi-star-filled active"></i>
          <i class="sr-star czi-star-filled active"></i>
          <i class="sr-star czi-star-filled active"></i>
          <i class="sr-star czi-star"></i>
          <i class="sr-star czi-star"></i>
          {% elif product.rating >= 1.5 %}
          <i class="sr-star czi-star-filled active"></i>
          <i class="sr-star czi-star-filled active"></i>
          <i class="sr-star czi-star"></i>
          <i class="sr-star czi-star"></i>
          <i class="sr-star czi-star"></i>
          {% elif product.rating >= 0.5 %}
          <i class="sr-star czi-star-filled active"></i>
          <i class="sr-star czi-star"></i>
          <i class="sr-star czi-star"></i>
          <i class="sr-star czi-star"></i>
          <i class="sr-star czi-star"></i>
          {% else %}
          <i class="sr-star czi-star"></i>
          <i class="sr-star czi-star"></i>
          <i class="sr-star czi-star"></i>
          <i class="sr-star czi-star"></i>
          <i class="sr-star czi-star"></i>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
