{% load i18n %}


{% translate 'Dear User!' %}

{% translate 'Someone asked for password reset for email' %} {{ email }}.
{% translate 'If it was you, then follow the link below:' %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}.


Copyright &copy; {% now "Y" %} {{ SITE_NAME }} ({{ SITE_HOST }})

{% translate 'This is an automatic letter, do not reply to it.' %}
{% translate 'We wish you a nice day and a pleasant shopping at' %} {{ SITE_NAME }} ({{ SITE_HOST }}).
