{% extends 'main/base.html' %}

{% load i18n %}


{% block title %}{% translate 'Password Reset Confirm' %}{% endblock title %}


{% block content %}

{% if validlink %}
<div class="container py-4 py-lg-5 my-4">
  <div class="row">
    <div class="col-md-6" style="margin: 0 auto;">
      <div class="card border-0 box-shadow">
        <div class="card-body">
          <h2 class="h4 mb-3">{% translate 'Password Reset Confirm' %}</h2>
          <p class="font-size-sm text-muted mb-4">{% translate 'Create a new password.' %}</p>
          <form class="needs-validation" method="post" novalidate>
            {% csrf_token %}
            <div class="input-group-overlay form-group">
              <div class="input-group-prepend-overlay">
                <span class="input-group-text"><i class="czi-locked"></i></span>
              </div>
              <div class="password-toggle">
                <input class="form-control prepended-form-control" id="id_new_password1" name="new_password1" autocomplete="new-password" type="password" placeholder="{% translate 'New password' %}" required{% if form.new_password1.value %} value="{{ form.new_password1.value }}"{% endif %}>
                <label class="password-toggle-btn">
                  <input class="custom-control-input" type="checkbox">
                  <i class="czi-eye password-toggle-indicator"></i>
                  <span class="sr-only">{% translate 'Show password' %}</span>
                </label>
              </div>
            </div>
            <ul>
              <li>{% translate 'Your password can’t be too similar to your other personal information.' %}</li>
              <li>{% translate 'Your password must contain at least 8 characters.' %}</li>
              <li>{% translate 'Your password can’t be a commonly used password.' %}</li>
              <li>{% translate 'Your password can’t be entirely numeric.' %}</li>
            </ul>
            <div class="input-group-overlay form-group">
              <div class="input-group-prepend-overlay">
                <span class="input-group-text"><i class="czi-locked"></i></span>
              </div>
              <div class="password-toggle">
                <input class="form-control prepended-form-control" id="id_new_password2" name="new_password2" autocomplete="new-password" type="password" placeholder="{% translate 'New password confirmation' %}" required{% if form.new_password2.value %} value="{{ form.new_password2.value }}"{% endif %}>
                <label class="password-toggle-btn">
                  <input class="custom-control-input" type="checkbox">
                  <i class="czi-eye password-toggle-indicator"></i>
                  <span class="sr-only">{% translate 'Show password' %}</span>
                </label>
              </div>
            </div>
            {% if form.new_password2.errors %}
            <div class="alert alert-danger" role="alert">
              {% for error_message in form.new_password2.errors %}
              {{ error_message }}<br>
              {% endfor %}
            </div>
            {% endif %}
            <div class="text-right pt-4">
              <button class="btn btn-primary" type="submit"><i class="czi-key mr-2 ml-n21"></i>{% translate 'Set new password' %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="container py-4 py-lg-5 my-4">
  <div class="row justify-content-center">
    <h2 class="h3 mb-4">{% translate 'The link is not valid or unused already!' %}</h2>
  </div>
</div>
{% endif %}

{% endblock content %}
