{% extends 'main/base.html' %}

{% load i18n %}


{% block title %}{% translate 'Password Reset' %}{% endblock title %}


{% block content %}

{# Page Content #}
<div class="container py-4 py-lg-5 my-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h2 class="h3 mb-4">{% translate 'Forgot your password?' %}</h2>
      <p class="font-size-md">{% translate 'Change your password in three easy steps. This helps to keep your new password secure.' %}</p>
      <ol class="list-unstyled font-size-md">
        <li><span class="text-primary mr-2">1.</span>{% translate 'Fill in your email address below.' %}</li>
        <li><span class="text-primary mr-2">2.</span>{% translate 'We’ll email you a temporary link.' %}</li>
        <li><span class="text-primary mr-2">3.</span>{% translate 'Go to the link to change your password on our secure website.' %}</li>
      </ol>
      <div class="card py-2 mt-4">
        <form class="card-body needs-validation" method="post" action="{% url 'accounts:password_reset' %}" novalidate>
          {% csrf_token %}
          <div class="form-group">
            <label for="recover-email">{% translate 'Enter your email address' %}</label>
            <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" id="id_email" required>
            <div class="invalid-feedback">{% translate 'Please provide valid email address.' %}</div>
          </div>
          <button class="btn btn-primary" type="submit">{% translate 'Reset password' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
